*{
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    border-color: #37373d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 766px){
    *{
        text-align: center;
    }

    body{
        margin: 0;
    }

    main{
        margin-top: 1.5em;
    }
    nav{
        position: fixed;
    }

    .nav-icons{
        display: none;
    }

    nav,
    footer {
        background-color: gray;
        width: 100%;
        color: #ffffff;
    }
    p{
        line-height: 1.5em;
    }
    section{
        min-height: 300px;
        padding: 10%;
    }

    nav{
        flex-direction: row;
        top: 0;
        left: 0;
        right: 0;
        }

    a .nav, a .nav{
        padding: .5em 1em .5em 1em;
        }

    footer{
        position: sticky;
        flex-direction: row;
        justify-content: space-around;
        padding-top: .5em;
        padding-bottom: .5em;
        bottom: 0;
        left: 0;
        right: 0;
    }

    footer > i{
        font-size: .75em;
    }

    .bio{
        border: 1px solid #37373d;
        vertical-align: middle;
    }

    h1, h2{
        text-decoration: underline;
    }

    .project-section{
        border-top: 1px solid #37373d;
    }

    .project-picture{
        border: 1px solid #37373d;
        max-width: 90%;
        max-height: 50%;
    }

    .project-container{
        margin-bottom: 1em;
        padding-bottom: .2em;
        border-bottom: 1px solid #37373d;
    }

    i{
        font-size: 3em;
    }

    .icons{
        flex-direction: row;
    }

    .icons > i{
        padding: 0 .5em 0 .5em;
        font-size: 2em;
        color: #c36e49;
    }
}

@media (min-width: 767px) and (max-width: 799px){
    
    *{
        text-align: center;
    }

    nav{
        position: fixed;
    }

    .nav-icons{
        display: none;
    }

    nav,
    footer {
        background-color: gray;
        width: 100%;
        color: #ffffff;
    }
    p{
        line-height: 1.5em;
    }
    section{
        min-height: 300px;
        padding: 10%;
    }

    nav{
        flex-direction: row;
        top: 0;
        left: 0;
        right: 0;
        }

    a .nav, a .nav{
        padding: 1.5em 1em 1.5em 1em;
        }

    footer{
        position: sticky;
        flex-direction: row;
        justify-content: space-around;
        padding-top: .5em;
        padding-bottom: .5em;
        bottom: 0;
        left: 0;
        right: 0;
    }

    footer > i{
        font-size: .75em;
    }

    .bio{
        line-height: 2em;
        border: 2px solid #37373d;
        vertical-align: middle;
        padding: 1%;
    }

    h1, h2{
        text-decoration: underline;
    }

    #project-start{
        border-top: 1px solid #37373d;
    }


    .project-picture{
        align-self: flex-start;
        max-width: 35em;
    }

    .project-container{
        margin-bottom: 1em;
        padding-bottom: .2em;
        border-bottom: 1px solid #37373d;
    }

    .icons{
        flex-direction: row;
        font-size: 5em;
        color: #c36e49;
    }
    .icons > i{
        padding: 0 .5em 0 .5em;
    }

    .repo{
        font-size: 5em;
    }

    .project-info{
        align-self: flex-start;
        padding: 0 0 0 1em;
    }
}


@media (min-width: 800px){
    *{
        text-align: center;
    }

    nav,
    footer {
        font-size: 1em;
        position: fixed;
        background-color: gray;
        width: 100%;
        color: #ffffff;
        padding: 10px 0px;
    }

    .nav-icons{
        position: fixed;
        right: 1em;
        font-size: 1em;
        flex-direction: row;
    }

    .nav0, .nav1{
        font-size: 1em;
    }

    .nav-icon{
        flex-direction: row;
        padding-left: 1em;
    }

    section{
        min-height: 300px;
        padding: 10% 0 10% 0;
    }

    .about-section{
        padding: 5%;
    }

    nav{
        flex-direction: row;
        top: 0;
        left: 0;
        right: 0;
    }

    a .nav, a .nav{
        padding: 0 1em 0 1em;
    }

    footer{
        display: none;
    }

    .bio{
        line-height: 2em;
        border: 2px solid #37373d;
        vertical-align: middle;
        padding: 1%;
    }

    h1, h2{
        text-decoration: underline;
    }

    #project-start{
        border-top: 1px solid #37373d;
    }


    .project-picture{
        align-self: flex-start;
        max-width: 35em;
    }

    .project-container{
        flex-flow: row;
        margin-bottom: 1em;
        padding-bottom: .2em;
        border-bottom: 1px solid #37373d;
    }

    .icons{
        flex-direction: row;
        font-size: 5em;
        color: #c36e49;
    }
    .icons > i{
        padding: 0 .5em 0 .5em;
    }

    .repo{
        font-size: 5em;
    }

    .project-info{
        align-self: flex-start;
        padding: 0 0 0 1em;
    }
}

body{
    background-color: #292929;
}

h1, h2{
    color: #689dca;
}

p{
    color: #c36e49;
}

nav, footer{
    background-color: #3c3c3c;
}

a{
    color: #c26fbb;
    
}

a:hover{
    color: #9dd380;
    cursor: pointer;
}

.icon{
    text-decoration: none;
}

title{
    display: none;
}

html {
    scroll-behavior: smooth;
}

